.header{
    height: 60px;
    width: 100%;
    background: rgba(0,0,0,0.901);
    position: fixed;
    top: 0;
    z-index: 100;
}
.header-con{
    width: 1120px;
    height: 60px;
    margin: 0 auto;
}
.logo{
    width: 150px;
    height: 23px;
    margin-top: 19px;
    margin-right: 50px;
}
.header-con ul{
    float: left;
    text-align: center;
}
.header-con ul li{
    margin-right:30px;
    float: left;
    line-height: 60px;
}
.header-con li a{
    font-size: 14px;
}
.header-con .search{
    margin-left: 252px;
    margin-top: 14px;
}
.header-con .search{
    width: 232px;
    height: 30px;
    background-color:rgba(252,252,252,0.2);
    border-radius: 15px;
}
.header-con .search #btn{
    width: 40px;
    height: 100%;
    float: right;
    background: url(../imgjd/img_9633f557_header_img.png) no-repeat 15px 8px   ;
}
.header-con .search #txt{
    margin-left: 15px;
    line-height: 30px;
    background-color:rgba(252,252,252,0);
}
.header-con .login {
    line-height: 60px;
    font-size: 13px;
}
.header-con .login a{
    margin-left: 5px;
}
/*中间部分*/
.banxin{
    width: 1000px;
    margin:0 auto;
}
.wrap .slider-show{
    width: 1349px;
    height: 622px;
    position: relative;
    overflow: hidden;
}
.wrap .slider-show ul{
    height: 622px;
    width: 6745px;
    /*float: left;*/
    position: absolute;
}
.wrap .slider-show #ul li{
    width: 1349px;
    height: 622px;
    float: left;
}
.wrap .slider-show #ul li span {
    display: inline-block;
    width: 1000px;
    height: 130px;
    position: absolute;
    top: 38%;
    background:url("../imgjd/img_b88a17fa_banner_word.png") no-repeat;
}
.wrap .slider-show #ul li #one{
    left: 240px;
}
.wrap .slider-show #ul li #two{
    left: 1589px;
}
.wrap .slider-show #ul li #three{
    left: 2938px;
}
.wrap .slider-show #ul li #four{
    left: 4287px;
}
.wrap .slider-show #ul li .five{
    left: 5636px;
    background-position: 0 -23px
}
.wrap .slider-show .arr{
    width: 1249px;
    height: 62px;
    margin:0 50px;
    position: absolute;
    top: 50%;
    margin-top: -31px;
}

.wrap .slider-show .arr span{
    float: left;
    display:block;
    color: #fff;
    height: 62px;
    width: 33px;
    font-size: 43px;
    cursor: pointer;

}
.wrap .slider-show .arr #left{
    background:url("../imgjd/img_b88a17fa_banner_word.png")no-repeat 0 -778px;
}
.wrap .slider-show .arr #right{
    float: right;
    background:url("../imgjd/img_b88a17fa_banner_word.png")no-repeat -33px -778px;

}
.wrap .slider-show ol{
    display: inline-block;
    position: absolute;
    bottom: 32px;
    left: 50%;
    margin-left: -21px;
}
.wrap .slider-show ol li{
    float: left;
    width: 6px;
    height: 6px;
    cursor: pointer;
    margin-right: 6px ;
    background:url("../imgjd/img_b88a17fa_banner_word.png")no-repeat -72px -778px;")
}
.wrap .slider-show ol .current{
    background:url("../imgjd/img_b88a17fa_banner_word.png")no-repeat -66px -778px;")
}
.wrap .lab{
    height: 1466px;
    width: 1349px;
    background-color: #e2e5e7;
    overflow: hidden;
}
.wrap .lab-main .main-con{
    margin-top: 7px;
    height: 424px;
    background: url(../imgjd/img_24654d77_detail.png);
}
.wrap .lab-main .main-con ul li{
    width: 317px;
    height: 176px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
.wrap .lab-main .main-con ul li div{
    width: 310px;
    height: 150px;
    border-radius: 50px;
    position: absolute;
    background-color: #000;
    opacity: 0;
}
.wrap .lab-main .main-con ul li div:hover{
    opacity: 0.2;
}
.wrap .lab-main .main-con ul li:hover{
    transform: scale(1.1);
}
.wrap .lab-main .main-con ul span{
    width: 116px;
    height: 116px;
    background: url(../imgjd/img_24654899_icon.png)no-repeat 0 0;
    float: left;
    margin: 26px 19px 0 8px;
}
.wrap .lab-main .main-con ul h3{
    width: 172px;
    color: rgb(23, 99, 167);
    font-size: 24px;
    line-height: 22px;
    margin-top: 38px;
    margin-bottom: 20px;
    float: left;
}
.wrap .lab-main .main-con ul p{
    font-size: 16px;
    line-height: 18px;
    color: rgb(87, 93, 106);
}
.wrap .lab-main .con_cover{
    height: 500px;
    width: 100%;
    background:url("../imgjd/1.png");
    overflow: hidden;
}
.wrap .lab-main .con_cover .mask{
    height: 500px;
    width: 1000px;
    background-color:rgba(0,0,0,0.4);
}
.wrap .lab-main .con_cover .aa{
    padding-top: 188px;
    width: 1000px;
    height: 312px;
    color: #ffffff;
    z-index: 3;
    text-align: center;
}
.wrap .lab-main .con_cover .aa a{
    display: inline-block;
    margin-top: 26px;
    width: 127px;
    height: 48px;
    line-height: 48px;
    border: solid 1px white;
    border-radius: 3px;
    font-size: 16px;

}
.wrap .lab-main .con_cover .aa a .box{
    width: 127px;
    height:48px;;
    position: relative;
    /*让box默认旋转，方便观察*/
    /*transform: rotate3d(1,1,1,-30deg);*/
    transform-origin: 0px 24px 24px;
    /*让子元素保留3d变换之后的效果*/
    transform-style: preserve-3d;
    /*添加透视景深效果*/
    perspective: 0px;
    /*设置透视的观察角度*/
    perspective-origin: 0px 0px;
    text-align: center;
    line-height:48px;
    font-size: 13px;
}

.wrap .lab-main .con_cover .aa .box:hover{
    animation-name: moveTest;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}
.wrap .lab-main .con_cover .aa .box div {
    position: absolute;
}
.wrap .lab-main .con_cover .aa a .box .top{
    width: 127px;
    height: 48px;
    transform: translateZ(48px);
    background-color:rgba(255,255,255,0.6);
}
.wrap .lab-main .con_cover .aa a .box .left{
    width:48px;
    height: 48px;
    transform-origin: left;
    background-color: transparent;
    transform: rotateY(-90deg);
}
.wrap .lab-main .con_cover .aa a .box .right{
    width: 48px;
    height: 48px;
    transform-origin: right;
    background-color: transparent;
    transform:translateX(79px) rotateY(90deg)
}
.wrap .lab-main .con_cover .aa a .box .front{
    width: 127px;
    height: 48px;
    background-color: #ff0202;
    transform-origin: bottom;
    transform: rotateX(-90deg);
}
.wrap .lab-main .con_cover .aa a .box .back{
    width: 127px;
    height: 48px;
    background-color: rgb(177, 194, 32);
    transform-origin: top;
    transform: rotateX(90deg);
}
.wrap .lab-main .con_cover .aa a .box .bottom{
    width: 127px;
    height: 48px;
    background-color: transparent;
    transform: rotateY(180deg);
}

.wrap .lab-main .con_data{
    height: 500px;
    width: 1000px;
    background:url("../imgjd/img_246545ee_data.png");
}
.wrap .lab-main .con_data ul li .cc{
    text-align: center;
    padding-top: 98px;
    width: 250px;
    height: 500px;
    float: left;
    overflow: hidden;
    position: relative;;
}
.wrap .lab-main .con_data ul li p{
    font-size: 16px;
    color: #ffffff;
}
.wrap .lab-main .con_data ul li span{
    display: inline-block;
    width: 132px;
    height: 148px;
    background: url(../imgjd/img_24654899_icon.png) no-repeat;
    margin: 17px 0px 22px;
}
.wrap .lab-main .con_data ul li h3{
    font-family: "Segoe UI", sans-serif;
    font-size: 36px;
}
.wrap .lab-main .con_data ul li .mask-top{
    width: 250px;
    height: 250px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
}
.wrap .lab-main .con_data ul li .mask-bottom{
    width: 250px;
    height: 250px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 250px;
}
.wrap .up{
    width: 52px;
    height: 176px;
    position: fixed;
    bottom: -180px;
    right: 20px;
    cursor: pointer;
}
.wrap .up a{
    float: left;
    display: inline-block;
    width: 52px;
    height: 52px;
    margin-bottom: 10px;
    background: url("../imgjd/img_67d27f86_footer_up.png")no-repeat 6px -34px;
    background-color: #ccd7e3;
    border-radius: 26px;
}
body{
    transform-origin: 674.5px 733px;
    animation:bodyAnimaiton 1.5s ease-out backwards;
}
@keyframes bodyAnimaiton{
    from{
        transform: rotate(0deg) scale(0.1);
    }
    to{
        transform: rotate(720deg) scale(1);
    }
}
@keyframes moveTest {
    from{
        transform:rotateX(0deg)
    }
    to{
        transform: rotateX(90deg);
    }
}